footer.footer
    .footer__logo.flex
        img(src='/img/favicon.png' alt='logo')
        div EssenceExplorer
    ul.footer__nav
        li: a(href='#') About us
        li: a(href='#') Download apps
        li: a(href='#') Become a author
        li: a(href='#') Careers
        li: a(href='#') Contact
    p.footer__copyright &copy; by Me.