section.hero_section    
    .hero__container
        .hero_content 
            h1.hero_header "Exploring the Essence: Unravelling Philosophy, History, Literature, and Theory" 
        .image__container
            .dinosaur
                img(src='/dinosaur.png', width="150px")
            .charles
                img(src='/charles.webp', width="300px")
            //- .hemlock
            //-     img(src='/flower.avif', width="300px")