extend adminbase 

include _pagination

block content
    main.main-admin 
        .container--table
            table.table.user 
                tr 
                    th.hideOnMobileAdmin NAME
                    th EMAIL
                    th.hideOnMobileAdmin ROLE
                    th DELETE
                    th EDIT
                each user in users
                    tr 
                        td.text-color-blue= user.name  
                        td.text-color-blue= user.email
                        td.text-color-blue= user.role
                        td 
                            i(class="fa-solid fa-trash fa-large fa-red btnDelete--user"  data-user_id=user._id)
                                //-  #delete(type="text" data-user_id=user._id)  DELETE
                        td 
                            i(class="fa-solid fa-file-pen fa-large fa-green .btnEdit--category")
        section
            +pagination(currentPage, totalPage, category)